<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <label for="cliente">Nome Cliente</label>
    <input
      id="cliente"
      type="text"
      placeholder="Inserisci nome cliente"
      (change)="changeName($event)"
      [value]="nome"
    />
  </ion-card>
  <ion-card>
    <ion-select
      aria-label="Tipo Documento"
      placeholder="Tipo di Documento"
      [value]="input.tipo"
      (ionChange)="changeTipo($event)"
      labelPlacement="stacked"
      >
      <ion-select-option value="">Seleziona il tipo</ion-select-option>
      <ion-select-option value="ddt">Documento di trasporto</ion-select-option>
      <ion-select-option value="fattura">Fattura</ion-select-option>
      <ion-select-option value="altro">Altro</ion-select-option>
    </ion-select>
  </ion-card>

  <ion-button (click)="recuperaVisualizza()" >-- TEST --</ion-button>

  <ion-header *ngIf="!preview" style="color: tomato;">Niente da vedere</ion-header>

  <ion-grid *ngIf="preview">
    <ion-row>
      <ion-header>Dati documento</ion-header>
      <ion-col *ngIf="datiTesta.titolo != null"> Titolo: {{ datiTesta.titolo }} </ion-col>
      <ion-col > <img src="{{ datiTesta.logo }}" alt="" width="100"></ion-col>
      <ion-col > {{ datiTesta.altro }} </ion-col>
    </ion-row>
    <ion-row>
      <ion-header>configurazione Documento</ion-header>
      <ion-col>
        Orientazione: 
        {{ 
          paginaConf.orientation == 'l' || 
          paginaConf.orientation == 'landscape' ?
          'orizzontale' :
          'verticale'
        }}
      </ion-col>
      <ion-col>Formato: {{ paginaConf.format }}</ion-col>
    </ion-row>
    <ion-footer>
      <ion-title>Stile Documento</ion-title>
      <ion-item>
        <ion-select 
          label="Tema tabella" 
          placeholder="seleziona un opzione per il tema della tabella"
          (change)="changeTema($event)"
        >
        
          <ion-select-option value="">Scegli un layout</ion-select-option>
          <ion-select-option value="grid">Griglia</ion-select-option>
          <ion-select-option value="striped">Righe alernate</ion-select-option>
          <ion-select-option value="plain">Plain</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="generaDoc()">Salva configurazione stile</ion-button>

    </ion-footer>
  </ion-grid>

  <iframe src="" frameborder="0"></iframe>

  


</ion-content>
